@import "tailwindcss";

:root {
   /* bg and fg colors */
  --background: hsl(0, 0%, 95%);
  --bg-dark: hsl(0, 0%, 92%);
  --bg-light: hsl(0, 0%, 85%);

  --foreground: hsl(0, 0%, 5%);
  --color-muted: hsl(0, 0%, 30%);


}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg and fg colors */
    --background: hsl(0, 0%, 5%);
    --bg-dark: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 12%);

    --foreground: hsl(0, 0%, 95%);
    --color-muted: hsl(0, 0%, 70%);

  }
}

@theme inline {
  /* bg and fg colors */
  --color-background: var(--background);
  --color-bg-dark:var(--bg-dark);

  --color-foreground: var(--foreground);
  --text-muted: var(--color-muted);

  /* fonts */
  --font-body: var(--font-montserrat);
  --font-heading: var(--font-roboto-slab);

}

body {
  /* bg and fg colors */
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}


/* text styles */
.text-muted {
  color: var(--text-muted);
}


/* bg colors */
.bg-dark {
  background-color: var(--color-bg-dark);
}

.bg-light {
  background-color: var(--bg-light);
}

