@import "tailwindcss";

:root {
   /* bg and fg colors */
  --background: hsl(0, 0%, 95%);
  --bg-dark: hsl(0, 0%, 92%);
  --bg-light: hsl(0, 0%, 85%);

  --foreground: hsl(0, 0%, 5%);
  --color-muted: hsl(0, 0%, 30%);
  --color-accent: hsl(112, 52%, 64%);


}

@media (prefers-color-scheme: dark) {
  :root {
    /* bg and fg colors */
    --background: hsl(0, 0%, 5%);
    --bg-dark: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 12%);

    --foreground: hsl(0, 0%, 95%);
    --color-muted: hsl(0, 0%, 70%);
    --color-accent: hsl(112, 52%, 64%);


  }
}

@theme inline {
  /* bg and fg colors */
  --color-background: var(--background);
  --color-bg-dark:var(--bg-dark);
   --bg-light: var(--bg-light);

  --color-foreground: var(--foreground);
  --text-muted: var(--color-muted);
  --color-accent: var(--color-accent);

  /* fonts */
  --font-body: var(--font-montserrat);
  --font-heading: var(--font-roboto-slab);

}




html {
  scrollbar-gutter: stable; /* prevents layout shift */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Transparent scrollbar background (the track) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Visible scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.6); /* similar to YouTube */
  border-radius: 10px;
  border: 2px solid transparent; /* makes thumb thinner */
  background-clip: content-box;
}

/* Hover effect like YouTube */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(170, 170, 170, 0.8);
}

/* Firefox */
html {
  scrollbar-width: none;
}

body {
  /* bg and fg colors */
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}


.loader {
    width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,hsl(112, 52%, 64%) 94%,#0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%,hsl(112, 52%, 64%));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

